
.jovd {
    padding-top: 30px;
    padding-left: 500px;
}

.adtd{
    padding-top: 20px;
    padding-left: 500px;
}

.ids{
    padding-top: 20px;
    padding-left: 500px;
}

.bt {
    padding-top: 20px;
    padding-left: 570px;
}
 
.hea {
    padding-top: 100px;
    padding-left: 525px;

}
body{ 
    border-style: solid;
    width: 800px;

}